<header>
  <a href="https://www.edyoda.com" style="text-decoration:none;"target=_blank><span id="logo">LEARNING PLATFORM</span></a>
  <span id="Expl_catogory">Explore Categories</span>
  <i id="dropdown" class="fa fa-angle-down" style="font-size:24px"></i>
  <p id="logo_stories">Techniques</p>
</header>

<section style="background-color:rgb(222, 238, 242);">
  <div>
      <h1>Trending Technologies</h1>
  </div>

  <div id="catogery_container">
      <i class="fa fa-filter" style="font-size:24px;color:blue"></i>
      <span id="filter_heading">Filter by Category</span>
  </div>

  <div style="margin-bottom:20px;">
      <div class="catogery" id="all_section">All</div>
      <div class="catogery">Artificial Intelligence</div>
      <div class="catogery">Cloud Computing</div>
      <div class="catogery">DevOps</div>
      <div class="catogery">Programming Language</div>
      <div class="catogery">Mobile Application Development</div>
      <div class="catogery">Technology and Tools</div>
      <div class="catogery">Get a job in tech company</div>
      <div class="catogery">Others</div>

  </div>


<div id="root">

  <div class="container text-center">
      <div class="row">
        
          <div class="col">
              <div class="card h-100">
                  <img src="https://edyoda.s3.amazonaws.com/media/blog-images/learn_machine_learning_courses_online.png" class="card-img-top" alt="sorry here">
                  <div class="card-body">
                  <h5 class="card-title"> Introduction to a Machine Learning Online Course</h5>
                  <p><a style="text-decoration: none" href="https://business.udemy.com/get-a-free-demo/?utm_source=paid-search&utm_medium=google&utm_campaign=search-nb-elearning-apac-india&utm_content=demo-getfreedemo&utm_term=elearning+system&utm_region=gb-apac&gclid=CjwKCAiApvebBhAvEiwAe7mHSNB4mmvFsAUmRvsgcGJgCeE9mBnrTSg4XDMNnW5BfjtjOY1RUamP3xoCLYcQAvD_BwE"><i> Demo </i></a><span style="color: black;"> | 24 Aug 2019 </span> </p>
                  <p class="card-text">We have had an insight into Artificial Intelligence well, one of its subfields is machine learning and this introduction will help you get a fair idea of what is Machine Learning..</p>
                  </div>
              </div>
        </div>

        <div class="col">
          <div class="card h-100">
              <img src="https://edyoda.s3.amazonaws.com/media/blog-images/6.png" class="card-img-top" alt="sorry here">
              <div class="card-body">
              <h5 class="card-title">LAMP Stack vs MEAN Stack </h5>
              <p><a style="text-decoration: none" href="https://business.udemy.com/get-a-free-demo/?utm_source=paid-search&utm_medium=google&utm_campaign=search-nb-elearning-apac-india&utm_content=demo-getfreedemo&utm_term=elearning+system&utm_region=gb-apac&gclid=CjwKCAiApvebBhAvEiwAe7mHSNB4mmvFsAUmRvsgcGJgCeE9mBnrTSg4XDMNnW5BfjtjOY1RUamP3xoCLYcQAvD_BwE"> <i>Demo</i> </a><span style="color: black;"> | 24 Aug 2019 </span> </p>
              <p class="card-text">In today's dynamic world developing a rapid application with a smooth user interface that can adapt to specific features is the main business requirement. </p>
              </div>
          </div>
    </div>

    <div class="col">
      <div class="card h-100">
          <img src="https://edyoda.s3.amazonaws.com/media/blog-images/4.png" class="card-img-top" alt="sorry here">
          <div class="card-body">
          <h5 class="card-title"> Cloud Computing </h5>
          <p> <a style="text-decoration: none" href="https://business.udemy.com/get-a-free-demo/?utm_source=paid-search&utm_medium=google&utm_campaign=search-nb-elearning-apac-india&utm_content=demo-getfreedemo&utm_term=elearning+system&utm_region=gb-apac&gclid=CjwKCAiApvebBhAvEiwAe7mHSNB4mmvFsAUmRvsgcGJgCeE9mBnrTSg4XDMNnW5BfjtjOY1RUamP3xoCLYcQAvD_BwE"> <i>Demo</i> </a> <span style="color: black;"> | 24 Aug 2019 </span> </p>
          <p class="card-text">Cloud computing has been rapidly gaining pace in the world of Information Technology. </p>
          </div>
      </div>
</div>

      </div>
    </div>

</div>

<noscript>You need to enable JavaScript to run this app.</noscript>
<div id="root">

  <div class="container text-center">
      <div class="row">
        
          <div class="col">
              <div class="card h-100">
                  <img src="https://edyoda.s3.amazonaws.com/media/blog-images/3.png" class="card-img-top" alt="sorry here">
                  <div class="card-body">
                  <h5 class="card-title"> Challenges of Machine Learning</h5>
                  <p> <a style="text-decoration: none" href="https://business.udemy.com/get-a-free-demo/?utm_source=paid-search&utm_medium=google&utm_campaign=search-nb-elearning-apac-india&utm_content=demo-getfreedemo&utm_term=elearning+system&utm_region=gb-apac&gclid=CjwKCAiApvebBhAvEiwAe7mHSNB4mmvFsAUmRvsgcGJgCeE9mBnrTSg4XDMNnW5BfjtjOY1RUamP3xoCLYcQAvD_BwE"> <i>Demo</i> </a> <span style="color: black;"> | 24 Aug 2019 </span> </p>
                  <p class="card-text">Machine Learning is a subset of artificial intelligence</p>
                  </div>
              </div>
        </div>

        <div class="col">
          <div class="card h-100">
              <img src="https://edyoda.s3.amazonaws.com/media/blog-images/5.png" class="card-img-top" alt="sorry here">
              <div class="card-body">
              <h5 class="card-title">Cybersecurity</h5>
              <p ><a style="text-decoration: none" href="https://business.udemy.com/get-a-free-demo/?utm_source=paid-search&utm_medium=google&utm_campaign=search-nb-elearning-apac-india&utm_content=demo-getfreedemo&utm_term=elearning+system&utm_region=gb-apac&gclid=CjwKCAiApvebBhAvEiwAe7mHSNB4mmvFsAUmRvsgcGJgCeE9mBnrTSg4XDMNnW5BfjtjOY1RUamP3xoCLYcQAvD_BwE"><i>Demo</i></a> <span style="color: black;"> | 24 Aug 2019 </span> </p>
              <p class="card-text">Cybersecurity plays an integral role in the process og good business models . But even cybersecurity programs built with good intensions can fall short in front of advanced cyber attacking.</p>
              </div>
          </div>
    </div>

    <div class="col">
      <div class="card h-100">
          <img src="https://edyoda.s3.amazonaws.com/media/blog-images/7.png" class="card-img-top" alt="sorry here">
          <div class="card-body">
          <h5 class="card-title"> Importance of Data Backup</h5>
          <p> <a style="text-decoration: none" href="https://business.udemy.com/get-a-free-demo/?utm_source=paid-search&utm_medium=google&utm_campaign=search-nb-elearning-apac-india&utm_content=demo-getfreedemo&utm_term=elearning+system&utm_region=gb-apac&gclid=CjwKCAiApvebBhAvEiwAe7mHSNB4mmvFsAUmRvsgcGJgCeE9mBnrTSg4XDMNnW5BfjtjOY1RUamP3xoCLYcQAvD_BwE"> <i>Demo</i></a> <span style="color: black;"> | 24 Aug 2019</span> </p>
          <p class="card-text">A business must always intraspect the areas where they lack in order to bring about apositive change in the work environment.</p>
          </div>
      </div>
</div>

      </div>
    </div>

</div>





