.route button:hover {
    opacity: 0.7;
}

.route button {
     border:50%;
     outline: 0;
     padding: 12px;
     color: white;
     background-color: #000;
     text-align: center;
     cursor: pointer;
     width: 100%;
     font-size: 18px;
}