<div style="text-align:center">
      
  <select #id>
        <option value = ""selected disabled hidden>CHOOSE ONE</option>
        <option value="a">A</option>
        <option value="b">B</option>
        <option value="c">C</option>
        <option value="d">D</option>
  </select>
  <br>
  <br>
  <button (click)="display(id.value)">CLICK ME :-)</button>
  <br>
  <br>
  <br>
  <br>
  <div><input value="{{add}}"></div>
  <br>
  <br>
  <div><img src="{{result}}"></div></div>
  <div class="chat_icon">
      <i class="fa fa-comments" aria-hidden="true"></i>
  </div>